<%- include('./layouts/header') %>
<!-------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------->
<% if (locals.errors && locals.errors.length > 0) { %>
  <div class="alert alert-danger">

      <% locals.errors.forEach(function(error) { %>
        <span><%= error %></span>
      <% }); %>

  </div>
<% } %>

<% if (locals.success && locals.success.length > 0) { %>
  <div class="alert alert-success">
  
      <% locals.success.forEach(function(success) { %>
        <span><%= success %></span>
      <% }); %>
 
  </div>
<% } %>




<div class="container">
  <div class="row">
<h1>REGISTERED USERS</h1> 
<table class="table table-dark customTable ">
    <thead>
      <tr>
      
        <th scope="col">User ID</th>
        <th scope="col">E-mail</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <% Allusers.forEach(element => { %>
       <tr>
      
        <td><%= element._id %></td>
        <td><%= element.email_field%></td>   
        <td>
          <form action="/admin/Allusers/updateRole" method="post">
              <input type="hidden" name="id" value="<%= element._id %>">
              <select name="role" id="role">
                <option value="ADMIN" <%= element.role === 'ADMIN' ? 'selected' : '' %>>Admin</option>
                <option value="MODERATOR" <%= element.role === 'MODERATOR' ? 'selected' : '' %>>Moderator</option>
                <option value="CLIENT" <%= element.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
              </select>
              <input type="submit" value="Update">
          </form>
        </td>
       

        

        
      <td>

        

          <!-- See Profile button -->
          <button type="button" class="btn btn-warning" onclick="window.location.href='/admin/Allusers/<%= element._id %>'" >View Profile</button>

         
          
          <!-- Delete button -->
          <button type="button" class="btn btn-danger" onclick="deleteUser('<%= element._id %>')">Delete</button>

        
        </td>
       </tr>
      <% }) %>
    </tbody>
  </table>
  </div>








  <!---------------------------------------------------------------------------------->
  <div class="container">
    <div class="row">
  <h1>LOGGED IN USERS</h1> 
  <table class="table table-dark customTable ">
      <thead>
        <tr>
        
          <th scope="col">USER ID</th>
          <th scope="col">E-mail</th>
          <th scope="col">Last Login</th>
          <th scope="col">GoogleID</th> 
          <th scope="col">Google username</th> 
          <th scope="col">Role</th>
          
        </tr>
      </thead>
      <tbody>
        <% LoggedInUsers.forEach(element => { %>
         <tr>
        
          <td><%= element._id %></td>
          <td><%= element.email %></td>
          <td><%= element.lastLogin %></td>
          <td><%= element.googleID %></td>
          <td><%= element.googleUsername %></td>
          <td><%= element.role %></td>
          
         </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
  </div>











<!-------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------->




































