<%- include('./layouts/header') %>


<button onclick="window.history.back()" type="submit" class="btn btn-primary">Back</button>

<% if (userData) { %>   <!-- user is coming from auth.route.js file -->
    <p>User ID: <%= userData._id %></p> 
    <p>Email: <%= userData.email %></p>
    <p>Role: <%= userData.role %></p>
    
<% } else { %>
    <p>User not found.</p>
<% } %>

<%- include('./layouts/footer') %>