<%- include('./layouts/header') %>


<button onclick="window.history.back()" type="submit" class="btn btn-primary">Back</button>

<% if (user) { %>   <!-- user is coming from auth.route.js file -->
    <p>User ID: <%= user._id %></p> 
    <p>Email: <%= user.email %></p>
    <p>Role: <%= user.role %></p>
    
<% } else { %>
    <p>User not found.</p>
<% } %>

<%- include('./layouts/footer') %>